body{
    background-color: #333;
    cursor: none;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
canvas{
    background-color: #999;
    cursor: none;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}